html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

input,
button,
a {
    outline: 0;
}

#templates {
    position: absolute;
    top: -2000px;
    left: -2000px;
}

.credits {
    font-size: 15px;
    position: absolute;
    bottom: 5px;
    left: 77px;
    z-index: 99999998;
    color: #e4e4e4;
    font-weight: 400;
    padding-left: 7px;
    text-decoration: none;
    border-left: 1px solid #fff;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.74);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.credits:hover {
    color: #fff;
}

/* for custom scrollbar for webkit browser
------------------------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 20px;
} 

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.3);*/
}

::-webkit-scrollbar-thumb {
    background: #cbcbcb;
    
}

/* Marker Info Window
------------------------------------------------------------------------------*/
.info-window {
    display: flex;
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    flex-flow: row wrap;
}

.info-window h5,
p {
    margin: 0px 0px 5px;
}

.info-window .item-rating {
    line-height: 24px;
}

.info-window ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 5px;
}

.info-window ul li {
    float: left;
    line-height: 11px;
    margin-right: 5px;
}

.info-window ul li a:hover {
    color: #272727;
}

.info-window .info-image {
    flex: 1 1 30%;
    max-width: 150px;
    min-height: 100px;
    background: #ccc no-repeat center center;
    background-size: cover;
}

.info-window .info-title {
    flex: 1 1 63%;
    padding-left: 2%;
}

.info-window .info-content {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}


/* Navigation Menu
------------------------------------------------------------------------------*/
.nav-icon {
    cursor: pointer;
    z-index: 200;
    height: 50px;
    right: 15px;
    top: 7px;
    border: none;
    background: none;
    position: absolute;
}

.nav-icon .navLines {
    display: block;
    margin: 0rem 0rem;
    width: 40px;
    height: 4px;
    background: white !important;
    border-radius: 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.nav-icon .navLines:before,
.nav-icon .navLines:after {
    display: block;
    margin: 0rem 0rem;
    width: 40px;
    height: 4px;
    background: white !important;
    border-radius: 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 3.57143px center;
}

.nav-icon .navLines:before {
    top: 12.5px;
}

.nav-icon .navLines:after {
    top: -12.5px;
}

.nav-icon.x .navLines {
    background: transparent !important;
}

.nav-icon.x .navLines:before,
.nav-icon.x .navLines:after {
    transform-origin: 50% 50%;
    top: 0;
    width: 50px;
    background: black;
}

.nav-icon.x .navLines:before {
    transform: rotate3d(0, 0, 1, 45deg);
}

.nav-icon.x .navLines:after {
    transform: rotate3d(0, 0, 1, -45deg);
}

.title {
    flex: 0 0 35px;
    background-color: #c2185b;
    padding: 15px;
    font-family: 'Damion', cursive;
    color: #fff;
    font-size: 25px;
    padding-left: 58px;
    position: relative;
    z-index: 9999;
}

.title .material-icons {
    font-size: 35px;
    position: absolute;
    left: 15px;
}


/* App ui and Panels
------------------------------------------------------------------------------*/

.panel {
    width: 100%;
    height: 100%;
    max-width: 640px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    outline: none;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    z-index: 9999999 !important;
    font-family: 'Roboto Condensed', sans-serif;
}

.panel-search {
    display: flex;
    flex: 0 0 67px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09)
}

#location-search {
    width: 100%;
    min-height: 40px;
    margin: 12px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    border: solid;
    border-color: #ececec;
}



/* Filter --- */

.filter {
    width: 50px;
    height: 66px;
    min-width: 50px;
    position: relative;
    will-change: transform;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    transform-origin: 100 100;
    border-radius: 100% 100% 100% 100%;
    transition: /* Transition Out */ all 0ms linear;
}

.filter.open {
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #721238;
    z-index: 999;
    /*padding-top: 130px;*/
    border-radius: 0% 0% 0% 0%;
    transition: /* Transition In */
        background-color 270ms ease-in-out 30ms,
        height 310ms ease-in-out,
        width 160ms ease-in-out, 
        border-bottom-right-radius 25ms ease-in-out, 
        border-bottom-left-radius 243ms ease-in-out 57ms,
        border-top-left-radius 155ms ease-in-out, 
        border-top-right-radius 25ms, 
        padding 1ms linear;
}

.filter-open, .filter-clear-all, .filter-select-all {
    padding: 0px;
    margin: 15px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    background: none;
    color: #868686;
}

.filter-clear-all, .filter-select-all {
    font-size: 17px;
    padding: 10px 15px;
    margin: 12px 10px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.filter-open:hover{
    color: #000;
}

.filter-clear-all, .filter-select-all {
    left: 0px;
}

.filter-clear-all:hover, .filter-select-all:hover  {
    color: #fff;
    background: #8f214c;
}

.filter.open .filter-open, .filter-clear-all, .filter-select-all {
    top: 65px;
    color: #fff;
}

.filter.open .filter-open:hover {
    color: #fff;
}




.filter-title {
    flex: 0 0 131px;
    height: 131px;
}


.filter-items {
    color: #fff;
    border-top: 2px solid #4b0b25;
    flex: 1 1 auto;
    overflow: auto;
    flex-wrap: wrap;
}

.filter-items::-webkit-scrollbar-thumb {
    background: #c2185b;
    
}

.filter-item {
    display: flex;
    flex-flow: row wrap;
    font-size: 24px;
    border-bottom: 1px solid #c2185b;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    line-height: 12px;
    position: relative;
    cursor: pointer;
}

.filter-item:hover {
    background: #8c1846;
}

.filter-item .toggle {
    transform: scale(0.6);
    margin-left: 10px;
    margin-bottom: 0px;
}

.filter-item .toggle label {
    background-color: #4b0b25 !important;
}

.filter-item .toggle input:checked + label {
    background-color: #c2185b !important;
}

.filter-name {
    padding-left: 47px;
}

.filter-count {
    font-size: 15px;
    background: #c2185b;
    position: absolute;
    left: 100px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}





.panel .mdl-progress {
    min-height: 5px;
    width: 100%;
    z-index: 999;
}

.panel-status {
    color: #c2185b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
}

.panel-status .material-icons {
    margin-bottom: 15px;
}

#location-search:focus {
    border-color: #c2185b;
}

#center-map {
    position: absolute;
    right: 63px;
    top: 76px;
    color: #868686;
    padding: 10px 10px;
    cursor: pointer;
    transition: opacity 300ms linear;
    opacity: 0;
    visibility: hidden;
}

#center-map:hover {
    color: #000;
}

#center-map.active {
    opacity: 1;
    visibility: visible;    
}

.panel-items {
    flex: 1 1 auto;
    overflow: auto;
    flex-wrap: wrap;
}

.panel-item {
    display: flex;
    cursor: pointer;
    flex-flow: row wrap;
    padding: 5px 11px;
    border-bottom: 1px #e1e1e1 solid;
}

.panel-item.active {
    background: rgba(208, 132, 162, 0.14);
}

.panel-item:hover {
    background: #f6f6f6;
}

.panel-item:last-child {
    border-bottom: none;
}

.panel-item-image {
    background: #ccc no-repeat center center;
    background-size: cover;
}

.panel-item-content {
    flex: 1 1 63%;
}

.panel-item-content .item-title {
    display: flex;
    align-items: center;
    margin: 2px 0 5px;
}

.panel-item-content .item-desciption {
    margin: 0 0 7px;
}

.panel-item-content .item-rating {
    line-height: 25px;
}

.mdl-textfield {
    width: 100%;
}

.mdl-textfield__label:after {
    background-color: #c2185b;
}


/* Map and InfoWindows
------------------------------------------------------------------------------*/

#map-canvas {
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #000;
    position: absolute;
}

#map-canvas.error {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

#map-canvas.error i {
    font-size: 90px;
    margin-bottom: 20px;
}

/* Media queries..
------------------------------------------------------------------------------*/

@media only screen and (min-width: 501px) {
    .panel-item-image {
        flex: 1 1 15%;
        max-width: 150px;
        min-height: 100px;
    }
    .info-window .info-image {
        flex: 0 0 0%;
    }
    .panel-item-content {
        padding-left: 2%;
    }
}

@media only screen and (max-width: 641px) {
    .panel.hide {
        height: auto;
    }
    .panel.hide .panel-search,
    .panel.hide .panel-items, .credits.hide {
        display: none;
    }
}

@media only screen and (min-width: 641px) {
    #map-canvas .panel {
        width: 50%;
        height: 93%;
        margin: 15px;
        border-radius: 2px;
    }
    .title .nav-icon {
        display: none;
    }
    #add-marker-button {
        float: right;
    }
    .panel-item-image {
        flex: 0 0 0%;
    }
    .info-window .info-image {
        flex: 1 1 30%;
    }
}

@media only screen and (min-width: 991px) {
    .panel {
        max-width: 515px;
    }
    .panel-item-image {
        flex: 1 1 15%;
    }
    .info-window .info-image {
        flex: 0 0 0%;
    }
}

@media only screen and (min-width: 1201px) {
    .panel {
        width: 40%;
    }
}


/* Rating Css..
------------------------------------------------------------------------------*/

.ratings {
    width: 85px;
    height: 17px;
    display: inline-block;
    position: relative;
}

.ratings:before,
.ratings:after {
    letter-spacing: -1px;
    display: inline-block;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0;
}

.ratings:before {
    color: #F9C8D3;
    content: "\E83A\E83A\E83A\E83A\E83A";
}

.ratings:after {
    color: #EF005B;
    content: "";
    overflow: hidden;
}

.ratings.one:after {
    content: "\E838";
}

.ratings.onehalf:after {
    content: "\E838\E839";
}

.ratings.two:after {
    content: "\E838\E838";
}

.ratings.twohalf:after {
    content: "\E838\E838\E839";
}

.ratings.three:after {
    content: "\E838\E838\E838";
}

.ratings.threehalf:after {
    content: "\E838\E838\E838\E839";
}

.ratings.four:after {
    content: "\E838\E838\E838\E838";
}

.ratings.fourhalf:after {
    content: "\E838\E838\E838\E838\E839";
}

.ratings.five:after {
    content: "\E838\E838\E838\E838\E838";
}


/* Material design Css..
------------------------------------------------------------------------------*/

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.mdl-progress-pink > .progressbar {
    background-color: rgb(194, 24, 91) !important;
}

.mdl-progress-pink > .bufferbar {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(to right, rgb(194, 24, 91), rgb(194, 24, 91)) !important;
}

.mdl-progress-pink > .auxbar {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), linear-gradient(to right, rgb(194, 24, 91), rgb(194, 24, 91)) !important;
}

/* Toggle checkbox..
------------------------------------------------------------------------------*/
.toggle {
  margin-bottom: 10px;
}
.toggle label {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 50px;
  background-color: #e1e1e1;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent;
}
.toggle label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: 44px;
  width: 44px;
  background-color: #fff;
  border-radius: 46px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  -webkit-animation: moveLeft 0.3s ease-in-out;
          animation: moveLeft 0.3s ease-in-out;
}
.toggle input {
  display: none;
}
.toggle input:checked + label {
  background-color: #57de72;
}
.toggle input:checked + label:before {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: moveRight 0.3s ease-in-out;
          animation: moveRight 0.3s ease-in-out;
}

@-webkit-keyframes moveRight {
  0% {
    width: 46px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    width: 52px;
  }
  100% {
    width: 46px;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}

@keyframes moveRight {
  0% {
    width: 46px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    width: 52px;
  }
  100% {
    width: 46px;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}
@-webkit-keyframes moveLeft {
  0% {
    width: 46px;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  45% {
    width: 52px;
  }
  100% {
    width: 46px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveLeft {
  0% {
    width: 46px;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  45% {
    width: 52px;
  }
  100% {
    width: 46px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}