<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  </head>
  <body>

    <div class="panel" id="panel-left" data-bind="css:{'hide': !panelVisible()}">
      <div class="title">
        <button class="nav-icon" data-bind='click: tooglePanel, css: {x : panelVisible() }'>
          <span class="navLines"></span>
        </button>
      </div>
      
      <div class="panel-search">
        <input id="location-search" type="text" placeholder="Enter a location">
      </div>

      <div class="panel-items" data-bind="foreach: ListOfMarkers">

        <div class="panel-item">
          <div class="panel-item-image" data-bind="style: {'backgroundImage': 'url('+ image +')'}"></div>
          <div class="panel-item-content">
            <h4 class="item-title" data-bind="text: title"></h4>
            <p data-bind="text: description"></p>
          </div>
        </div>

      </div>

    </div>

    <div id="map-canvas"></div>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places,geometry&callback=googleMapsJsLoaded" async></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-debug.js"></script>
    <script defer src="{{ url_for('static', filename='app.js') }}"></script>

  </body>
</html>